@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --primary-strong-cyan: hsl(171, 66%, 44%);
    --primary-light-blue: hsl(233, 100%, 69%);
    --neutral-dark-grayish-blue: hsl(210, 10%, 33%);
    --neutral-grayish-blue: hsl(201, 11%, 66%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    text-align: center;
    font-family: 'Bai Jamjuree', sans-serif;
}

.container {
    width: 380px;
    background-color: white;
}

.computer, .devices {
    width: 340px;
}

.intro {
    min-height: 100vh;
    color: var(--neutral-dark-grayish-blue);
    background-image: url('../images/bg-header-mobile.png');
    background-size: cover;
    background-position: center;
}

.big-logo {
    margin-top: 7em;
}

.title {
    margin: 2em 1em 0.5em 1em;
}


.sub-title {
    color: var(--neutral-grayish-blue);
    margin: 0 2.2em 3em 2.2em;
    line-height: 25px;
}

.btn-group {
    display: flex;
    flex-direction: column;
    margin: 0 2em;
}

.download-ios {
   background-color: var(--primary-strong-cyan);
   padding: 1em 0;
   border-radius: 50px;
   border: none;
   box-shadow: 0 4px #167567;
   margin-bottom: 1em;
   color: white;
   font-family: 'Bai Jamjuree', sans-serif;
   font-size: 1.1em;
   font-weight: 600;
}

.download-mac {
    background-color: var(--primary-light-blue);
    padding: 1em 0;
    border-radius: 50px;
    border: none;
    box-shadow: 0 4px #167567;
    color: white;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
}

.benefit-title {
    font-size: 1.8em;
    color: var(--neutral-dark-grayish-blue);
    margin: 0 1em 0.5em 1em;
}

.computer {
    margin: 1em 0 3em 0;
}

h3 {
    font-size: 1.5em;
    color: var(--neutral-dark-grayish-blue);
    margin-bottom: 0.7em;
}

.second-benefit {
    margin: 12em 0 0 0;
}

.devices {
    margin-bottom: 6em;
}

.third-benefit .sub-title {
    margin-bottom: 5em;
}

.icon-improve {
    margin: 1em 0 1.5em 0;
}

.trusted-brand {
    margin: 8em 0 5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trusted-brand img {
    width: 140px;
    margin-bottom: 4em;
}

.closing {
    padding-bottom: 10em;
}

footer {
    background-color: #f5f6f8;
    padding: 3em 0;
}

.small-logo {
    margin-bottom: 2em;
    width: 55px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.contact-info p {
    margin-bottom: 2em;
    color: var(--neutral-dark-grayish-blue);
}

.footer-icons img {
    margin: 0 1em;
}

@media only screen and (min-width: 1440px) {
    /* For desktop: */
   .container {
       width: 100%;
   }

   .title {
       font-size: 2.7em;
   }

   .intro .sub-title {
       font-size: 1.2em;
       width: 50%;
       margin: 0 auto;
       line-height: 34px;
   }

   .sub-title {
       font-size: 1.2em;
       width: 54%;
       line-height: 34px;
       margin: 0 auto;
   }

   .btn-group {
       flex-direction: row;
       justify-content: center;
       align-items: center;
       margin-top: 4em;
   }

   .download-ios {
       margin: 0 1em 0 0;
       padding: 1em 2.5em;

   }

   .download-mac {
       margin-left: 1em;
       padding: 1em 2.5em;
   }

   .benefit-title {
       font-size: 2.5em;
       margin: 1em 1em 0.5em 1em;
   }

   .small-content {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-top: 5em;
       text-align: left;
   }

   .computer {
       width: 700px;
   }

   .sub-benefit {
       margin-left: 5em;
   }

   .sub-benefit p {
       font-size: 1em;
       margin: 0 0 3em 0;
   }

   .devices {
       width: 900px;
       margin-top: 5em;
   }

   .improve-workflow {
       display: flex;
       justify-content: center; 
   }

   .improve-workflow img {
       width: 45px;
       height: 38px;
   }

   .improve-workflow p {
        font-size: 1em;
        width: 100%;
   }

   .improve-1, .improve-2, .improve-3 {
       width: 25%;
   }

   .trusted-brand {
       flex-direction: row;
       justify-content: space-between;
       width: 75%;
       margin: 5em auto;
   }

   footer {
       display: flex;
       justify-content: space-around;
       align-items: center;
   }

   .footer-options {
       width: 70%;
       text-align: left;
       display: flex;
       flex-direction: row;
       justify-content: space-around;
   }

   .footer-options p {
       font-size: 1.2em;
   }

   .faq, .privacy, .guide {
       margin-bottom: 1em;
   }

}











